<%- include('../components/header') %>
<%- include('../components/header-logo-dark') %>

<script>
  const teskitIdParam = <%= testID %>;
</script>
<div class="container">
  <div class="wrapper px-4-5">
    <div class="login-view login-form">
      <form class="form login-form " id="loginForm" ovalidate="novalidate">
        <div class="pt-3 d-grid">
          <h3 class="fw-bolder">ביצוע בדיקה</h3>
          <h6 class="pe-4">יש לצפות בסרטון ההדרכה לקבל הסבר על אופן ביצוע הבדיקה.</h6>
        </div>

        <div class="pt-3">
          <iframe
                  height="182"
                  width="100%"
                  src="https://drive.google.com/file/d/1nofaNtHW1_pG84laE_crVl8EU9-tX3fG/preview"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
          ></iframe>
        </div>


        <label class="pt-3 d-grid" id="openTestVideo">
          <h6 class="pe-4">תיעוד ביצע הבדיקה</h6>
          <div type="button" class="btn btn-secondary btn-block">
            <ins class="label-text">בחר וידאו</ins>
          </div>

        </label>
        <input id="testVideo" type="file" name="video" class="d-none" accept="video/mp4,video/x-m4v,video/*" />

        <div class="pt-5 d-grid">
          <button type="button" class="btn btn-primary btn-block btn-submission-form">
            סיים ושלח
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
<script src="/scripts/test-submission-form.js"></script>
<%- include('../components/live-record-test-modal') %>
<%- include('../components/footer') %>
